<ul id="nav-drop" class="dropdown-content">
  <li><a>Settings</a></li>
  <li><a>Logout</a></li>
</ul>

<nav>
  <div class="nav-wrapper">

    <div class="dp-child">
      <a class="brand-logo" href="/">
        <img src="/assets/stock-app/images/mnetb.svg" alt="">
        <span></span>
      </a>
    </div>

    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <li><a (click)="initDropDown()" class="nav-drop" href="#" data-target="nav-drop">Jyoti Chouhan<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
